


:root {
  font-size: 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

p:not(:last-child) {
  margin-bottom: 1.5em;
}

body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  justify-content: center;
  
  min-height: 100vh;
  padding: 30px;
  margin: 0;
  
  color: #224;
  background:
    url(https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?cs=srgb&dl=pexels-jplenio-1103970.jpg&fm=jpg)
    center / cover no-repeat fixed;
}

.container {
  text-align: center;
  
}

select {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px; /* Adjust font size as needed */
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff; /* Set background color */
  color: #333; /* Set text color */
  cursor: pointer;
  outline: none; /* Remove default outline */
}

/* Style for the dropdown arrow */
select::-ms-expand {
  display: none; /* Remove the default arrow in IE */
}

select option {
  padding: 8px 16px; /* Adjust option padding as needed */
}


button {
  margin: 10px;
  padding: 8px 16px;
  background-color: #5a82d3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.path-container {
  margin-top: 20px;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.path {
  display: block;
  margin-left: auto;
}

.transition-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}

.transition-card h3 {
  margin-top: 0;
}

.transition-card p {
  margin: 5px 0;
}

.tt {
  visibility: visible;
  transition: transform 0.5s;
}

.tt:hover {
  visibility: visible;
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.location-image {
  width: 200px;
  text-align: center;
  margin-bottom: 100;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.45); ;
  color: #4e5556;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  backdrop-filter: blur(15px);
}

.navbar h1 {
  font-size: 24px;
  font-weight: bold;
}

.container {
  margin-top: 60px;
}
